.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
RealTimeTodo.Web/bin/Debug/net6.0/*
RealTimeTodo.Web/obj/Debug/net6.0/apphost.exe
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.assets.cache
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.csproj.CopyComplete
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.csproj.CoreCompileInputs.cache
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.csproj.FileListAbsolute.txt
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.dll
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.GeneratedMSBuildEditorConfig.editorconfig
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.genruntimeconfig.cache
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.MvcApplicationPartsAssemblyInfo.cache
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.pdb
RealTimeTodo.Web/obj/Debug/net6.0/staticwebassets.build.json
RealTimeTodo.Web/obj/Debug/net6.0/staticwebassets.development.json
RealTimeTodo.Web/obj/Debug/net6.0/ref/RealTimeTodo.Web.dll
RealTimeTodo.Web/obj/Debug/net6.0/refint/RealTimeTodo.Web.dll
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.assets.cache
RealTimeTodo.Web/obj/Debug/net6.0/RealTimeTodo.Web.GeneratedMSBuildEditorConfig.editorconfig